/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

header .logo img {
    max-width: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9900;
}

/* Main Content Styles */
.background-image {
    background-image: url('../images/e-buses-delhi.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.steps {
    list-style: none;
    padding: 0;
}

.steps li {
    margin: 10px 0;
}

.apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

.apply-button:hover {
    background-color: #e68a00;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 18px;
    margin: 0;
}

/* Add hover effect if desired */
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ff9900;
}
